#################################
# JAVA / SPRING BOOT
#################################
target/
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.db

# Maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.ipr
.vscode/

#################################
# ANGULAR / FRONTEND
#################################
node_modules/
dist/
.angular/
.cache/

#################################
# ENV / CONFIG
#################################
.env
.env.*
application-local.yml
application-dev.yml

#################################
# OS FILES
#################################
.DS_Store
Thumbs.db

!uploads/.gitkeep

#################################
# DOCKER
#################################
docker-compose.override.yml

#################################
# LOGS
#################################
logs/
*.log

#################################
# OCR
#################################
tessdata/
*.tmp

#################################
# AWS
#################################
*.pem
*.key
.aws/

#################################
# BUILD
#################################
build/
out/

#################################
# TEST
#################################
coverage/
